.pro-sidebar .pro-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}

.pro-sidebar > .pro-sidebar-inner {
  height: 100%;
  position: relative;
  z-index: 101;
  background: #292534;
}

.pro-sidebar.collapsed
  .pro-menu
  > ul
  > .pro-menu-item.pro-sub-menu
  > .pro-inner-list-item
  > .popper-inner {
  max-height: 100vh;
  overflow-y: auto;
  padding-left: 20px;
  border-radius: 4px;
  background: #292534;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 1px solid rgba(173, 173, 173, 0.2);
  padding: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-menu {
  background: transparent;
  border: 0;
  margin-left: 4px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 101;
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: transparent;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  background: transparent;
  padding-left: 20px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 1px solid rgba(173, 173, 173, 0.2);
  height: 68px;
  margin-left: 20px;
  width: 100%;

  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
}

.button-logout {
  background: transparent;
  border: 0;
  margin-left: 6px;
  margin-right: 10px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.button-logout span {
  color: #adadad;
  margin-left: 14px;
  transition: color 0.1s;
}

.button-logout:hover span {
  color: #d8d8d8;
}

.button-logout:hover svg {
  color: #d8d8d8;
}

.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 15px;
}

.avatar {
  position: absolute !important;
  bottom: 81px;
  height: 51px;
  width: 100%;
}

.avatar .perfil {
  color: #adadad;
  transition: color 0.1s;
}

.avatar:hover span {
  color: #d8d8d8;
}

.avatar button {
  border: 0;
  background: transparent;

  display: flex;
  justify-items: center;
  align-items: center;
}

.avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
}
